body{
    background-color: #12a4d9;
}

.App{
    background-color: #d9138a;
    border-radius: 6px;
    border:2px solid #e2d810 ;
    min-height: 500px;
    width:400px;
    margin:40px auto;
   
}

.AddDisplay , .filter{
    background-color: #e2d810;
    border:0px;
    width:200px;
    height:40px;
    padding:0 20px;
    margin:20px;
    border-radius: 4px;
    font-size:18px;
    outline:none;
}

#to-do-form button{
    height:40px;
    width:80px;
    border-radius: 5px;
    cursor:pointer;
    background-color:orange;
    font-weight:bold;
    outline:none;
}

.list input{
    background-color: #12a4d9;
    border:0px;
    width:200px;
    height:30px;
    padding:0 20px;
    margin:20px;
    border-radius: 4px;
    font-size:18px;
    outline:none;
}

.list button{
    height:30px;
    width:80px;
    border-radius: 4px;
    cursor:pointer;
    background-color: #ecc19c;
    font-weight:bold;
    outline:none;
}

.search{
    font-size:25px;
    margin:20px;

}

div h2{
    font-style: italic;
    font-size:20px;
}